In [2]:
import pandas as pd

# Read the CSV file, skipping the first 3 rows
df = pd.read_csv('open-meteo-28.62N77.25E218m (3).csv', skiprows=3,index_col='time')



df.head()

,temperature_2m (째C),apparent_temperature (째C),precipitation_probability (%),precipitation (mm),rain (mm)
time,,,,,
2023-09-01T00:00,30.9,37.1,NaN,0.0,0.0
2023-09-01T01:00,30.4,36.6,NaN,0.0,0.0
2023-09-01T02:00,30.0,36.3,NaN,0.0,0.0
2023-09-01T03:00,29.7,35.8,NaN,0.0,0.0
2023-09-01T04:00,29.5,35.6,NaN,0.0,0.0